.products {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 80vh;
}

.card {
    background-color: rgba(250, 248, 241, 0.877);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-self: flex-start;
    flex: 0 0 30%
}

.card__title, .card__price {
    text-align: left;
}

.card__splitter {
    height: 0.5px;
    background-color: rgba(143, 143, 143, 0.135);
}

.card__title {
    font-weight: 600;
    font-size: 18px;
}

.card__btn {
    padding: 10px 20px;
    font-weight: 800;
    font-size: 24px;
    border-radius: 15px;
    background-color: rgb(197, 126, 161);
    transition: all 0.5s;
}

.card__btn:hover {
    background-color: rgb(136, 88, 112);
  }